.container-article {
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
  "he"
  "main"
  "ft";
}

header {
  grid-area: he;
  padding: 10px 20px;
}

.blog-article {
  width: auto;
  margin: auto;
}

.author-avatar {
  float: left;
  margin: 0 15px 0 0;
}

.share-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto 40px;
}

.icon img {
  width: 50px;
}

hr {
  margin: 50px 0;
}

.article-img {
  width: 100%;
  margin-top: 20px;
}

.more-articles {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.box-article {
  padding: 50px 70px;
  border: 1px solid #ff665a;
}

/* Larger screen sizes */
@media(min-width:900px){
  .blog-article, .header {
    width: 800px;
  }
  header {
    margin: auto;
  }
  .more-articles {
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
  }
}
