.blog-article {
  width: auto;
  margin: auto;
}
.share-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.icon img {
  width: 50px;
}

/* Larger screen sizes */
@media(min-width:900px){
  .blog-article {
    width: 800px;
  }
}
