@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Staatliches&display=swap');

html {
  background-color: #F2F2ED;
}

body {
  font: 20px/1.4 'News Cycle', sans-serif;
  color: #333132;
}

h1 {
  font: 50px/1 'Staatliches', cursive;
  color: #ff665a;
}

h2 {
  font: 22px/0.5 700;
  color: #7D407D;
  margin-top: 0;
}

.date, h3, a.date:visited {
  font-size: 15px;
  text-transform: uppercase;
  color: #333132;
  margin: 10px 0;
}

.blog {
  text-align: left;
  margin-top: 10px;
}

.intro {
  font-size: 25px;
  margin: 60px 0 30px;
}

a.blog-post-header {
  font: 25px/1em  'Staatliches', cursive;
  color: #333132;
  margin: 20px 0 5px;
  text-decoration: none;
}

.author {
  font-size: 1.5em;
  margin: 10px 0 0 0;
  font-weight: bold;
}

.author-title {
  margin: 0 0 50px;
}

.article-date {
  font-size: 18px;
  text-transform: uppercase;
  color: #333132;
}

figcaption {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

blockquote {
  font-style: italic;
  border-left: 4px solid #ff665a;
  padding-left: 20px;
  margin: 30px 40px;
}

a,
a:link,
a:visited,
a.date:hover {
  text-decoration: none;
  color: #7D407D;
}
a:focus,
a:hover,
a:active {
  text-decoration: underline #7D407D;
}

/* Larger screen sizes */
@media(min-width:900px){
  h1 {
    font-size: 60px;
  }
}

@media(min-width:1200px){
  h2 {
    font-size: 25px;
  }
  .date, h3, a.date:visited {
    font-size: 18px;
  }
}
